.toggle{
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
}

.toggle>*{
    width: 1rem;
    height: 1rem;
    color: green;
}

.toggleBtn{
    border-radius: 100%;
    background: green;
    position: absolute;
}