.sliderBg{
    background-image: url("../../Components/Components.Arif/sliderImage/HomePageBg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.customFont{
    font-family: 'Poppins', sans-serif;
}

.bannerBtn:hover{
    background-color: rgb(12, 187, 65);
    color: white;

}

.moreBtn:hover{
    color:rgb(10, 238, 78);
    text-decoration: underline;
}
