.App {
  font-family: 'Poppins';
}

.section-title {
  position: relative;
}
.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 120%;
  left: 50%;
  width: 30px;
  right: 50%;
  border-radius: 20px;
  height: 4px;
  background-color: green;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
